<form [formGroup]="avatarForm">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p-fileupload #avatarUploader mode="basic" chooseLabel="Avatar" chooseIcon="bi bi-image" accept="image/*" [multiple]="false" [auto]="false" [customUpload]="true" [chooseButtonProps]="{ size: 'small' }" (onSelect)="showPreview($event); avatarUploader.clear()">
          <ng-template #filelabel></ng-template>
        </p-fileupload>
      </div>
      <div class="col-md-4">
        @if (imageURL && imageURL !== '') {
          <div class="imagePreview">
            <img [src]="imageURL" [alt]="avatarForm.value.name" height="60px" decoding="async">
          </div>
        }
      </div>
    </div>
  </div>
</form>
