p-fileupload {
	--p-button-primary-background: #ffffff;
	--p-button-primary-border-color: #0F52BA;
	--p-button-primary-color: #0F52BA;
	--p-button-primary-hover-background: #e8f1ff;
	--p-button-primary-hover-border-color: #0F52BA;
	--p-button-primary-hover-color: #0F52BA;
	--p-button-primary-active-background: #d6e7ff;
	--p-button-primary-active-border-color: #0F52BA;
	--p-button-primary-active-color: #0F52BA;
	--p-button-primary-focus-ring-color: #0F52BA;
}
